{% extends 'inventory/includes/modal-base.html' %}


{% block id_modal %}addCategoryModal{% endblock id_modal %}
    
{% block modal_title %}
    Agregar Categoría
{% endblock modal_title %}

{% block content %}
<div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" placeholder="Categoria 1">
</div>

{% endblock content %}

{% block final_button_click %}
@click="addCategory"
{% endblock %} 
{% block final_button_name %}
    Agregar
{% endblock final_button_name %}
    
    